<%- include('../partials/header')%>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img src="<%=college.image%>" alt="">
                <div class="p-2">
                    <div>
                        <p><%=college.name%></p>
                        <p><%=college.description%></p>
                        <p>
                            <em>Submitted by <%= college.author.username %></em>
                        </p>
                    </div>
                    <a class="btn btn-warning" href="/colleges/<%= college._id%>/edit">Edit</a>
                    <form id="delete-form" action="/colleges/<%= college._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <div class="jumbotron">
                <div class="text-right">
                    <a href="/colleges/<%= college._id%>/comments/new" class="btn btn-large btn-success">Add a comment</a>
                </div>
                <hr>
                <%college.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <p><%=comment.text%></p>
                            <a class="btn btn-sm btn-outline-warning" href="/colleges/<%= college._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form id="delete-form" action="/colleges/<%= college._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer')%>