<%- include('partials/header')%>
    <div class="container">
        <header class="jumbotron">
            <h1>Welcome to CollegeHub!</h1>
            <p>look at some best colleges on the basis of MHCET</p>
            <p>
                <a class="btn btn-primary btn-large" href="/colleges/new">add a new college</a>
            </p>
        </header>
        <div class="row text-center">
           <% colleges.forEach(function(college){ %>
            
                <div class="col-md-3 col-sm-6">
                    <div class="img-thumbnail">
                        <img class="img-thumbnail" src="<%= college.image %>" alt="">
                        <p><%= college.name %></p>
                        <p>
                            <a class="btn btn-primary" href="/colleges/<%= college._id%>">More info</a>
                        </p>
                    </div>
                </div>
         
           <% }) %>  
        </div>
    </div>
    

<%- include('partials/footer')%>